a {
    display: block;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 150px 130px;
    padding: 10px 50px;
    background-color: #7A36D4;
    color: #fff;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    border: 3px solid #7A36D4;
    color: #7A36D4;
}